@import "../../../node_modules/fontawesome-scss/fontAwesome";

.footer {
  color: #ffffff;
  h2 {
    color: $accentColor;
  }
  p {
    position: relative;
    color: #ffffff;
    margin-bottom: 30px;
  }
  &__underline {
    &::after {
      position: absolute;
      display: block;
      content: "";
      left: 0;
      bottom: -10px;
      width: 50px;
      height: 3px;
      background-color: $accentColor;
    }
  }
  &__top {
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: 716px;
    background: url(../images/footer-bg.jpg);
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__bottom {
    padding-bottom: 20px;
    min-height: 101px;
    background-color: #343434;
    color: white;
    .container {
      flex-direction: column;
      align-items: center;
    }
  }
  &__right-block {
    h2 {
      position: relative;
      color: $accentColor;
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
    }

  }
  &__contacts {
    list-style-type: none;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 60px;
  }
  &__contacts-item {
    position: relative;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 700;
    padding-left: 40px;
    a {
      text-decoration: none;
      &:hover {
        color: #bb3030;
      }
    }
    &::after {
      position: absolute;
      display: block;
      content: "";
      left: 5px;
      top: 50%;
      transform: translateY(-50%);
    }
    &::before {
      position: absolute;
      display: block;
      content: "";
      width: 30px;
      height: 30px;
      border: 1px solid $accentColor;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &--address {
      &::after {
        @include fa($fa-map-marker, $accentColor, 20px);
      }
    }
    &--phone {
      &::after {
        @include fa($fa-phone, $accentColor, 20px);
      }
    }
    &--email {

      &::after {
        left: 7px;
        @include fa($fa-envelope, $accentColor, 16px);
      }
    }
  }
  &__form {
    input,
    textarea {
      display: block;
      width: 100%;
      color: #fff;
      background-color: #343434;
      padding: 10px;
      margin-bottom: 10px;
    }
    textarea {
      resize: none;
    }
  }
  &__copyright {
    margin-top: 35px;
    text-transform: uppercase;
  }
  &__social {
    @include noList;
    text-align: right;
    margin-top: 35px;
  }
  &__social-item {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    padding-right: 10px;
    border-right: 1px solid #bb3030;
    &:last-child {
      border: none;
    }
    a {
      font-size: 0;
      color: #bb3030;
      line-height: 25px;
      &:hover {
        color: white;
      }
      &::after {
        position: absolute;
        display: block;
        content: "";
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }

    &--linkedin {
      a {
        &::after {
          @include fa($fa-linkedin, $accentColor, 18px);
        }
      }

    }
    &--facebook {
      a {
        &::after {
          @include fa($fa-facebook, $accentColor, 18px);
        }
      }

    }
    &--twitter {
      a {
        &::after {
          @include fa($fa-twitter, $accentColor, 18px);
        }
      }

    }
    &--youtube {
      a {
        &::after {
          @include fa($fa-youtube, $accentColor, 18px);
        }
      }

    }
  }
  @media($tablet-widths) {
    .container {
      justify-content: space-between;
    }
    &__left-block, &__right-block {
      width: 48%;
    }
    &__top {
      padding-top: 80px;
      padding-bottom: 0;
    }
    &__bottom {
      .container {
        flex-direction: row;
        align-items: inherit;
      }
    }
  }
}

