.services {
  padding-top: 0;
  &__title {
    position: relative;
    max-width: 190px;
    margin-left: auto;
    margin-right: auto;
    color: $secondTextColor;
    font-weight: 700;
     &::after{
           position: absolute;
           display: block;
           content: "";
       width: 61px;
       height: 3px;
       left: 50%;
       bottom: -6px;
       transform: translateX(-50%);
       background-color: $accentColor;
         }
  }
  &__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__item {
    position: relative;
    width: 245px;
    margin-bottom: 50px;
    padding-top: 70px;
    &::after {
      position: absolute;
      display: block;
      content: "";
      width: 55px;
      height: 55px;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
    }
    @each $item in improvement, marketing, information, transformation, strategy, equity, digital, delivery {
      &--#{$item}{
        &::after{
          background: url('../images/services/#{$item}.png#services');
        }
      }
    }
  }
  @media($tablet-widths) {
    &__items {
      justify-content: space-around;
    }
  }
  @media($desktop-widths) {
    &__items {
      justify-content: space-between;
    }
  }
}